.container {
  text-align: center;
  justify-content: center;
  background-color: #7393B3;
}

legend {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

form {
  border: solid 1px black;
  padding: 2rem;
}


